<div class="containerwrapper">
<div class="position">
    <header class="header">
      <h1>To Do List</h1>
      <div >
      <input class="resizedInput" [(ngModel)]="TodoObject.text" (keyup.enter)="add()">
       </div>
    </header>
    <div class="listSize" *ngIf="todoArray.length > 0">
      <ul >
        <li *ngFor="let t of todoArray" [class.completed]="t.complete">
          <div class="displayElement">
            <input class="listBox" type="checkbox" (click)="listComplete(t)" [checked]="t.complete">
            <label>{{t.text}}</label>
            <button class="bt" (click)="remove(t)"> Delete</button>
          </div>
        </li>
      </ul>
      
    </div>
</div>
</div>